﻿@{ Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml"; }

@section HeadScripts {
    <meta charset="utf-8" />
    
    <link href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="~/assets/css/font-icons/entypo/css/entypo.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">

    <link href="~/assets/css/neon-core.css" rel="stylesheet">
    <link href="~/assets/css/neon-theme.css" rel="stylesheet">
    <link href="~/assets/css/neon-forms.css" rel="stylesheet">

    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <!--[if lt IE 9]><script src="~/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
}

@section Scripts {
    <script src="//codeorigin.jquery.com/jquery-1.8.3.min.js"></script>
    
    <script src="~/assets/js/gsap/main-gsap.js"></script>
    <script src="~/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>

    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/resizeable.js"></script>
    <script src="~/assets/js/neon-api.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/js/neon-custom.js"></script>
}

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <img src="~/assets/images/logo_main.png" width="165" alt="" />
                </a>
            </div>

            <!-- logo collapse icon -->

            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation">
                    <!-- add class "with-animation" to support animation -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

        </header>

        <ul id="main-menu" class="">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <!-- Search Bar -->
            @*<li id="search">
                    <form method="get" action="">
                        <input type="text" name="q" class="search-input" placeholder="Search something..." />
                        <button type="submit">
                            <i class="entypo-search"></i>
                        </button>
                    </form>
                </li>*@
            <li>
                <a href="#">
                    <i class="entypo-gauge"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="forms-main.html">
                    <i class="entypo-doc-text"></i>
                    <span>Forms</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="entypo-pencil"></i>
                            <span>Visibility</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="entypo-pencil"></i>
                            <span>Fish</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="tables-main.html">
                    <i class="entypo-window"></i>
                    <span>Data</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="entypo-menu"></i>
                            <span>Visibility</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="entypo-menu"></i>
                            <span>Fish</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="entypo-chart-bar"></i>
                    <span>Charts</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <span>Muisbroek</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Denee</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Bos van Aa</span>
                            <span class="badge badge-secondary badge-roundless">New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-layout"></i>
                    <span>Gallery</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <span>Muisbroek</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Denee</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Bos van Aa</span>
                            <span class="badge badge-secondary badge-roundless">New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-user"></i>
                    <span>User</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-sm-12 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li>
                        <a href="~/account/logout">
                            Log Out <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <h2>Here starts everything...</h2>

        <br />

        @RenderSection("MainContent", false)

        <!-- lets do some work here... -->
        <!-- Footer -->
        <footer class="main">


            &copy; 2014 <strong>Project Baseline Belgium</strong> Powered by <a href="http://www.bettercms.com/" target="_blank">Better CMS</a> and <a href="https://www.mongodb.org/">MongoDb</a>

        </footer>
    </div>

</div>

@RenderBody()
