﻿@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@model PbCms.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/AuthenticationLayout.cshtml";
    ViewBag.Title = "Project Baseline Belgium - Forgot Password";
}

@section Head {
}

<div class="login-wrapper">
    <img class="centered" src="~/assets/images/logo@2x.png" width="240" alt="">
    <div class="box">
        <div class="content-wrap">
            <h4>Forgot Password</h4>

            <p>Enter your email, and we will send the reset link.</p>

            <form action="~/Account/ForgotPassword" class="form-wrapper validate" method="post">
                
                @if (Model.Failure)
                {
                    <div class="alert alert-danger">
                        <strong>Oops!</strong>
                        <br>Something went wrong, this should not happen. Please try again.
                    </div>
                }
                
                @if (Model.InvalidEmail)
                {
                    <div class="alert alert-warning">
                        <strong>Oops!</strong>
                        <br>Your email is not in our system.
                    </div>
                }
                
                @if (Model.MailIsSent)
                {
                    <div class="alert alert-success">
                        <strong>Reset email has been sent.</strong>
                        <br>Please check your email, and click on the reset password link. 
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary">Close</a>
                }
                else
                {
                    <div class="form-group">
                        <input class="form-control" id="Email" name="Email" placeholder="Email" type="text" value="" data-validate="email,required" >
                    </div>
                    <br>
                    <input class="btn btn-primary btn-lg" type="submit" value="Reset Password">
                }
            </form>

            <div class="forgot">
                <br>
                <p><a href="~/Account/Login">Return to Login</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>


@section Scripts {
}
