﻿@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@model PbCms.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/AuthenticationLayout.cshtml";
    ViewBag.Title = "Project Baseline Belgium - Login";
}

@section Head {
}

<div class="login-wrapper">
    <img class="centered" src="~/assets/images/logo@2x.png" width="240" alt="">
    <div class="box">
        <div class="content-wrap">
            <h4>Login</h4>

            <p>Welcome on the dashboard of Project Baseline. To access this site you need to login.</p>

            <form role="form" action="~/Account/Login" class="form-wrapper validate" method="post">
                
                @if (Model.Failed)
                {
                    <div class="alert alert-danger">
                        <strong>Login Failed!</strong>
                        <br>Your email, password combination was not correct. Please try again.
                    </div>
                }
                
                @if (Model.Activated) {
                    <div class="alert alert-success">
                        <strong>You account has been successfully activated.</strong>
                        <br>You can now enter your credentials and login.
                    </div>
                }

                <div class="form-group">
                    <input class="form-control" data-message-required="Email is required" id="Email" name="Email" placeholder="Email" type="text" value="" data-validate="required">
                </div>

                <div class="form-group">
                    <input class="form-control" data-message-required="Password is required" id="Password" name="Password" placeholder="Password" type="password" data-validate="required,minlength[4]">
                </div>

                <div class="form-group remember">
                    <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
                    <input name="RememberMe" type="hidden" value="false">
                    <label for="RememberMe">Remember me</label>
                </div>
                <input class="btn btn-primary btn-lg login" type="submit" value="Log In">
            </form>

            <div class="forgot">
                <br>
                <p>
                    <a href="~/Account/ForgotPassword">Forgot password</a>
                    <a href="~/Account/SignUp">I do not have an account</a>
                </p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/assets/js/neon-login.js"></script>*@
}




@*@using (Html.BeginForm())
{
        <span class="bcms-title">Username</span>
        <p>
            @Html.TextBoxFor(m => m.UserName, new { id = "userName", @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
        <span class="bcms-title">Password</span>
        <p>
            @Html.PasswordFor(m => m.Password, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <span class="bcms-title">&nbsp;</span>
        <p>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </p>

        @Html.SubmitButton("submit", "Login", submitProperties)
        @Html.HiddenFor(m => m.ReturnUrl)
}
<script type="text/javascript">
    (function () {
        document.getElementById('userName').focus();
    })();
</script>*@