﻿@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@model PbCms.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/AuthenticationLayout.cshtml";
    ViewBag.Title = "Project Baseline Belgium - Register";
}

@section Head {
}

<div class="login-wrapper">
    <img class="centered" src="~/assets/images/logo@2x.png" width="240" alt="">
    <div class="box">
        <div class="content-wrap">
            <h4>Registration</h4>

            <p>Create an account, it's free and takes few moments only!</p>
            <form role="form" action="~/Account/Signup" class="form-wrapper validate" method="post">
                
                @if (Model.IsFailed)
                {
                    <div class="alert alert-warning">
                        <strong>Oops!</strong><br>
                        @Model.ErrorMessage
                    </div>
                }
                
                @if (Model.Registered)
                {
                    <div class="alert alert-success">
                        <strong>You have been successfully registered.</strong>
                        <br>We have emailed you a confirmation link for your account.
                    </div>
                    <br>
                    <a href="~/Account/Login" class="btn btn-primary">Close</a>
                }
                else if (Model.ActivatedFailed)
                {
                    <div class="alert alert-warning">
                        <strong>Activation failed.</strong>
                        <br>This is an invalid account activation. Make sure you clicked on the activation link in your registration email.
                    </div>
                }
                else
                { 
                    <div class="form-group">
                        <input class="form-control" id="FirstName" name="FirstName" placeholder="First Name" type="text" value="@Model.FirstName" data-validate="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="LastName" name="LastName" placeholder="Last Name" type="text" value="@Model.LastName" data-validate="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="Email" name="Email" placeholder="Email" type="text" value="@Model.Email" data-validate="email,required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="Password" name="Password" placeholder="Enter your password" type="password" value="" data-validate="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="PasswordVerify" name="PasswordVerify" placeholder="Confirm your password" type="password" value="" data-validate="required">
                    </div>
                    <br>
                    <input class="btn btn-primary btn-lg" type="submit" value="Register">
                }
            </form>

            @if (!Model.Registered && !Model.ActivatedFailed)
            {
                <div class="forgot">
                    <br>
                    <p><a href="~/Account/Login">Return to Login</a>
                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>


@section Scripts {
}
