﻿@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@model PbCms.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/AuthenticationLayout.cshtml";
    ViewBag.Title = "Project Baseline Belgium - Reset Password";
}

@section Head {
}

<div class="login-wrapper">
    <img class="centered" src="~/assets/images/logo@2x.png" width="240" alt="">
    <div class="box">
        <div class="content-wrap">
            <h4>Reset Password</h4>

            <p>Enter your email, and choose a new password.</p>

            <form action="~/Account/ResetPassword" class="form-wrapper validate" method="post">
                
                @if (Model.IsFailed)
                {
                    <div class="alert alert-warning">
                        <strong>Oops!</strong><br>
                        @Model.ErrorMessage
                    </div>
                }   
                
                @if (Model.PasswordResetted)
                {
                    <div class="alert alert-success">
                        <strong>We successfull changed your password.</strong>
                        <br>You can now login with your new credentials.
                    </div>
                    <br>
                    <a href="~/Account/Login" class="btn btn-primary">Login</a>
                }
                else
                {
                    <input type="hidden" id="key" name="key" value="@Model.Key">
                
                    <div class="form-group">
                        <input class="form-control" id="Email" name="Email" placeholder="Your email" type="text" value="@Model.Email" data-validate="email,required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="Password" name="Password" placeholder="New password" type="password" value="" data-validate="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="PasswordVerify" name="PasswordVerify" placeholder="Confirm your new password" type="password" value="" data-validate="required">
                    </div>
                    <br>
                    <input class="btn btn-primary btn-lg" type="submit" value="Reset Password">
                }
            </form>

            <div class="clearfix"></div>
        </div>
    </div>
</div>


@section Scripts {
}
