
BODY.gray {
    background-color: #303641;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 

}

.login-wrapper {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    .box {
        margin: 0 auto;
        padding: 30px 0 10px;
        float: none;
        width: 450px;
        box-shadow: 0 0 6px 2px rgba(255, 253, 253, 0.36);
        border-radius: 10px;
        background: whitesmoke;


        .content-wrap {
            width: 82%;
            margin: 0 auto;

            h3 {
                font-size: 15px;
            }

            .form-wrapper {
                input {
                    margin-bottom: 0px;
                    margin-top: 15px;
                }

                .alert-msg {
                    margin-left: 0px;
                    margin-top: 5px;
                }
            }

            h4 {
                margin: 0 0 10px 0;
                font-size: 40px;
                font-weight: 700;
                color: #303641;

                span {
                    color: #000;
                }
            }

            p {
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 20px;
            }
        }

        .alert {
            margin-bottom: 20px;
            padding: 5px 15px;
            border-radius: 4px;

            .close i {
                font-size: 15px;
                margin-right: 0px;
            }
        }

        input[type="text"],
        input[type="password"] {
            font-size: 15px;
            height: 40px;
            margin-bottom: 18px;
            border-color: #b2bfc7;
            padding-left: 12px;
            width: 100%;
        }

        input[type="password"] {
            margin-bottom: 10px;
            width: 100%;
        }

        input:-moz-placeholder {
            color: rgb(155, 168, 182);
            font-size: 15px;
            letter-spacing: 0px;
            font-style: italic;
        }

        input:-ms-input-placeholder {
            color: rgb(155, 168, 182);
            letter-spacing: 0px;
            font-size: 15px;
        }

        input::-webkit-input-placeholder {
            color: rgb(155, 168, 182);
            letter-spacing: 0px;
            font-size: 15px;
        }

        .forgot {
            text-align: right;
            margin-bottom: 6px;
            float: right;

            a {
                text-decoration: underline;
                color: green;
                font-size: 13px;
                display: block;
            }
        }

        .remember {
            display: block;
            overflow: hidden;
            margin-bottom: 20px;
            margin-top: 5px;

            input[type="checkbox"] {
                float: left;
                margin-right: 8px;
                margin-top: 5px;
                width: 15px;
            }

            label {
                float: none;
                color: #4a576a;
                font-size: 13px;
                font-weight: 600;
            }
        }

        .login {
            text-transform: uppercase;
            font-size: 13px;
            padding: 8px 30px;
            float: left;
        }
    }

    .no-account {
        margin: 0 auto;
        float: none;
        text-align: center;
        font-size: 14px;
        margin-top: 25px;

        p {
            display: inline-block;
            color: rgb(170, 170, 170);
        }

        a {
            color: rgb(170, 170, 170);
            margin-left: 7px;
            border-bottom: 1px solid;
            transition: all .1s linear;
            -moz-transition: all .1s linear; /* Firefox 4 */
            -webkit-transition: all .1s linear; /* Safari and Chrome */
            -o-transition: all .1s linear; /* Opera */
            &:hover {
                text-decoration: none;
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }
}


/* responsive */
@media (max-width: 767px) {
    .login-wrapper .box {
        width: 350px;
    }
}

@media (max-width: 480px) {
    .login-wrapper .box {
        width: 90%;
    }
}
