﻿<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Neon Admin Panel" name="description">
        <meta content="" name="author">

        <title>@ViewBag.Title</title>
        <link href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
        <link href="~/assets/css/font-icons/entypo/css/entypo.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" rel="stylesheet">
        <link href="~/assets/css/bootstrap.css" rel="stylesheet">
        <link href="~/assets/css/signin.css" rel="stylesheet">

        <link href="~/assets/css/neon-core.css" rel="stylesheet">
        <link href="~/assets/css/neon-theme.css" rel="stylesheet">
        <link href="~/assets/css/neon-forms.css" rel="stylesheet">

        <script src="~/assets/js/jquery-1.11.0.min.js"></script>
        <!--[if lt IE 9]><script src="~/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        @RenderSection("head", required: false)
    </head>

<body class="gray">

    @RenderBody()

    <!-- Bottom Scripts -->
    <script src="~/assets/js/gsap/main-gsap.js"></script>
    <script src="~/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>

    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/resizeable.js"></script>
    <script src="~/assets/js/neon-api.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/bootstrap-switch.min.js"></script>
    <script src="~/assets/js/neon-custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>

