﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

@section Head {
}

@section Content {
    
    <h2>Here starts everything...</h2>
    <br />
    this is the home page
}

@section Scripts {
}