﻿@using PbDashboard.Core
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Neon Admin Panel" name="description">
        <meta content="" name="author">

        <title>@ViewBag.Title</title>
        <link href="~/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
        <link href="~/assets/css/font-icons/entypo/css/entypo.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" rel="stylesheet">
        <link href="~/assets/css/bootstrap.css" rel="stylesheet">

        <link href="~/assets/css/neon-core.css" rel="stylesheet">
        <link href="~/assets/css/neon-theme.css" rel="stylesheet">
        <link href="~/assets/css/neon-forms.css" rel="stylesheet">

        <script src="~/assets/js/jquery-1.11.0.min.js"></script>
        <!--[if lt IE 9]><script src="~/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        @RenderSection("head", required: false)
    </head>

    <body class="page-body" data-url="http://neon.dev">
    
        @RenderBody()

        <div class="page-container">
            <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

            <div class="sidebar-menu">

                <header class="logo-env">

                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img src="~/assets/images/logo_main.png" width="165" alt="" />
                        </a>
                    </div>

                    <!-- logo collapse icon -->

                    <div class="sidebar-collapse">
                        <a href="#" class="sidebar-collapse-icon with-animation">
                            <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="#" class="with-animation">
                            <!-- add class "with-animation" to support animation -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                </header>

                <ul id="main-menu" class="">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                    <!-- Search Bar -->
                    <li>
                        <a href="#">
                            <i class="entypo-gauge"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="forms-main.html">
                                <i class="entypo-doc-text"></i>
                                <span>Forms</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="entypo-pencil"></i>
                                        <span>Visibility</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="entypo-pencil"></i>
                                        <span>Fish</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="tables-main.html">
                            <i class="entypo-window"></i>
                            <span>Data</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="entypo-menu"></i>
                                    <span>Visibility</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-menu"></i>
                                    <span>Fish</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="entypo-chart-bar"></i>
                            <span>Charts</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Muisbroek</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Denee</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Bos van Aa</span>
                                    <span class="badge badge-secondary badge-roundless">New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="entypo-layout"></i>
                            <span>Gallery</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Muisbroek</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Denee</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Bos van Aa</span>
                                    <span class="badge badge-secondary badge-roundless">New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="#">
                                <i class="entypo-user"></i>
                                <span>User</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.GetNodeUrl("Login")">
                                <i class="entypo-user"></i>
                                <span>Login</span>
                            </a>
                        </li>
                    }
                </ul>

            </div>

            <div class="main-content">
            
                @if (User.Identity.IsAuthenticated)
                { 
                    <!-- header line -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 clearfix hidden-xs">
                            <ul class="list-inline links-list pull-right">
                                <li>
                                    <a href="@Url.Action("Logout", "LoginSurface")">
                                        Log Out <i class="entypo-logout right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                }

                @RenderSection("Content", false)

                <!-- lets do some work here... -->
                <!-- Footer -->
                <footer class="main">
                    &copy; 2014 <strong>Project Baseline Belgium</strong> Powered by <a href="http://umbraco.com/" target="_blank">Umbraco</a> and <a href="https://www.mongodb.org/">MongoDb</a>
                </footer>
            </div>
        </div>

        <!-- Bottom Scripts -->
        <script src="~/assets/js/gsap/main-gsap.js"></script>
        <script src="~/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>

        <script src="~/assets/js/joinable.js"></script>
        <script src="~/assets/js/resizeable.js"></script>
        <script src="~/assets/js/neon-api.js"></script>
        <script src="~/assets/js/jquery.validate.min.js"></script>
        <script src="~/assets/js/bootstrap-switch.min.js"></script>
        <script src="~/assets/js/neon-custom.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>