@using PbDashboard.controllers
@using PbDashboard.Core
@model ForgotPasswordViewModel

@{ this.MapModel(); }

<h4>Forgot Password</h4>

<p>Enter your email, and we will send the reset link.</p>

@using (Html.BeginUmbracoForm<ForgotPasswordSurfaceController>("PostForgetPassword", new { @class = "form-wrapper validate" }))
{
    if (Model.Failure)
    {
        <div class="alert alert-danger">
            <strong>Oops!</strong>
            <br>Something went wrong, this should not happen. Please try again.
        </div>
    }

    if (Model.InvalidEmail)
    {
        <div class="alert alert-warning">
            <strong>Oops!</strong>
            <br>Your email is not in our system.
        </div>
    }

    if (Model.MailIsSent)
    {
        <div class="alert alert-success">
            <strong>Reset email has been sent.</strong>
            <br>Please check your email, and click on the reset password link.
        </div>
        <br>
        <a href="@Url.GetNodeUrl("Login")" class="btn btn-primary">Close</a>
    }
    else
    {
        <div class="form-group">
            <input class="form-control" id="Email" name="Email" placeholder="Email" type="text" value="" data-validate="email,required">
        </div>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Reset Password">
    }
}

<div class="forgot">
    <br>
    <p><a href="@Url.GetNodeUrl("Login")">Return to Login</a>
</div>
