
@using PbDashboard.controllers
@using PbDashboard.Core
@model PbDashboard.controllers.LoginViewModel

@{ this.MapModel(); }

<h4>Login</h4>
            
@if (User.Identity.IsAuthenticated)
{
    <p>Logged in: @User.Identity.Name</p>
    <p>@Html.ActionLink("Log out", "Logout", "LoginSurface")</p>
}
<p>Welcome on the dashboard of Project Baseline. To access this site you need to login.</p>
            
@using (Html.BeginUmbracoForm<LoginSurfaceController>("PostLogin", new { @class = "form-wrapper validate" }))
{
    if (Model.Failed)
    {
        <div class="alert alert-danger">
            <strong>Login Failed!</strong>
            <br>Your email, password combination was not correct. Please try again.
        </div>
    }

    if (Model.Activated)
    {
        <div class="alert alert-success">
            <strong>You account has been successfully activated.</strong>
            <br>You can now enter your credentials and login.
        </div>
    }

    <div class="form-group">
        <input class="form-control" data-message-required="Email is required" id="Email" name="Email" placeholder="Email" type="text" value="" data-validate="required,email">
    </div>

    <div class="form-group">
        <input class="form-control" data-message-required="Password is required" id="Password" name="Password" placeholder="Password" type="password" data-validate="required">
    </div>

    <div class="form-group remember">
        <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
        <input name="RememberMe" type="hidden" value="false">
        <label for="RememberMe">Remember me</label>
    </div>
    <input class="btn btn-primary btn-lg login" type="submit" value="Log In">
}

<div class="forgot">
    <br>
    <p>
        <a href="@Url.GetNodeUrl("ForgotPassword")">Forgot password</a>
        <a href="@Url.GetNodeUrl("Register")">I do not have an account</a>
    </p>
</div>
