@using PbDashboard.controllers
@using PbDashboard.Core
@model ResetPasswordViewModel
           
@{ this.MapModel(); }

<h4>Reset Password</h4>

<p>Enter your email, and choose a new password.</p>

@using (Html.BeginUmbracoForm<ResetPasswordSurfaceController>("PostResetPassword", new { @class = "form-wrapper validate" }))
{

    if (Model.IsFailed)
    {
        <div class="alert alert-warning">
            <strong>Oops!</strong><br>
            @Model.ErrorMessage
        </div>
    }

    if (Model.PasswordResetted)
    {
        <div class="alert alert-success">
            <strong>We successfull changed your password.</strong>
            <br>You can now login with your new credentials.
        </div>
        <br>
        <a href="@Url.GetNodeUrl("Login")" class="btn btn-primary">Login</a>
    }
    else
    {
        <input type="hidden" id="key" name="key" value="@Model.Key">

        <div class="form-group">
            <input class="form-control" id="Email" name="Email" placeholder="Your email" type="text" value="@Model.Email" data-validate="email,required">
        </div>
        <div class="form-group">
            <input class="form-control" id="Password" name="Password" placeholder="New password" type="password" value="" data-validate="required,minlength[4]">
        </div>
        <div class="form-group">
            <input class="form-control" id="PasswordVerify" name="PasswordVerify" placeholder="Confirm your new password" type="password" value="" data-validate="required,minlength[4]">
        </div>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Reset Password">
    }
}
