@using PbDashboard.controllers
@using PbDashboard.Core
@model RegisterViewModel

@{ this.MapModel(); }

<h4>Registration</h4>
<p>Create an account, it's free and takes few moments only!</p>
@using (Html.BeginUmbracoForm<RegisterSurfaceController>("PostRegister", new { @class = "form-wrapper validate" }))
{
    if (Model.IsFailed)
    {
        <div class="alert alert-warning">
            <strong>Oops!</strong><br>
            @Model.ErrorMessage
        </div>
    }

    if (Model.Registered)
    {
        <div class="alert alert-success">
            <strong>You have been successfully registered.</strong>
            <br>We have emailed you a confirmation link for your account.
        </div>
        <br>
        <a href="@Url.GetNodeUrl("Login")" class="btn btn-primary">Close</a>
    }
    else if (Model.ActivatedFailed)
    {
        <div class="alert alert-warning">
            <strong>Activation failed.</strong>
            <br>This is an invalid account activation. Make sure you clicked on the activation link in your registration email.
        </div>
    }
    else
    {
        <div class="form-group">
            <input class="form-control" id="Name" name="Name" placeholder="Your Name" type="text" value="@Model.Name" data-validate="required">
        </div>
        <div class="form-group">
            <input class="form-control" id="Email" name="Email" placeholder="Your Email" type="text" value="@Model.Email" data-validate="email,required">
        </div>
        <div class="form-group">
            <input class="form-control" id="Cert" name="Cert" placeholder="Your dive certification" type="text" value="@Model.Cert" data-validate="required">
        </div>
        <div class="form-group">
            <input class="form-control" id="Password" name="Password" placeholder="Choose a password" type="password" value="" data-validate="required,minlength[4]">
        </div>
        <div class="form-group">
            <input class="form-control" id="PasswordVerify" name="PasswordVerify" placeholder="Confirm your password" type="password" value="" data-validate="required,minlength[4]">
        </div>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Register">
    }
}

@if (!Model.Registered && !Model.ActivatedFailed)
{
    <div class="forgot">
        <br>
        <p><a href="@Url.GetNodeUrl("Login")">Return to Login</a>
    </div>
}