/* responsive */

BODY.gray {
    background-color: #303641;
}
IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

.login-wrapper {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}
.login-wrapper .box {
  margin: 0 auto;
  padding: 30px 0 10px;
  float: none;
  width: 450px;
  box-shadow: 0 0 6px 2px rgba(255, 253, 253, 0.36);
  border-radius: 10px;
  background: whitesmoke;
}
.login-wrapper .box .content-wrap {
  width: 82%;
  margin: 0 auto;
}
.login-wrapper .box .content-wrap h3 {
  font-size: 15px;
}
.login-wrapper .box .content-wrap .form-wrapper input {
  margin-bottom: 0px;
  margin-top: 15px;
}
.login-wrapper .box .content-wrap .form-wrapper .alert-msg {
  margin-left: 0px;
  margin-top: 5px;
}
.login-wrapper .box .content-wrap h4 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  color: #303641;
}
.login-wrapper .box .content-wrap h4 span {
  color: #000;
}
.login-wrapper .box .content-wrap p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}
.login-wrapper .box .alert {
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 4px;
}
.login-wrapper .box .alert .close i {
  font-size: 15px;
  margin-right: 0px;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
  font-size: 15px;
  height: 40px;
  margin-bottom: 18px;
  border-color: #b2bfc7;
  padding-left: 12px;
  width: 100%;
}
.login-wrapper .box input[type="password"] {
  margin-bottom: 10px;
  width: 100%;
}
.login-wrapper .box input:-moz-placeholder {
  color: #9ba8b6;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: italic;
}
.login-wrapper .box input:-ms-input-placeholder {
  color: #9ba8b6;
  letter-spacing: 0px;
  font-size: 15px;
}
.login-wrapper .box input::-webkit-input-placeholder {
  color: #9ba8b6;
  letter-spacing: 0px;
  font-size: 15px;
}
.login-wrapper .box .forgot {
  text-align: right;
  margin-bottom: 6px;
  float: right;
}
.login-wrapper .box .forgot a {
  text-decoration: underline;
  color: Green
  font-size: 13px;
  display: block;
}
.login-wrapper .box .remember {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 5px;
}
.login-wrapper .box .remember input[type="checkbox"] {
  float: left;
  margin-right: 8px;
  margin-top: 5px;
  width: 15px;
}
.login-wrapper .box .remember label {
  float: none;
  color: #4a576a;
  font-size: 13px;
  font-weight: 600;
}
.login-wrapper .box .login {
  text-transform: uppercase;
  font-size: 13px;
  padding: 8px 30px;
  float: left;
}
.login-wrapper .no-account {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 14px;
  margin-top: 25px;
}
.login-wrapper .no-account p {
  display: inline-block;
  color: #aaaaaa;
}
.login-wrapper .no-account a {
  color: #aaaaaa;
  margin-left: 7px;
  border-bottom: 1px solid;
  transition: all .1s linear;
  -moz-transition: all .1s linear;
  /* Firefox 4 */

  -webkit-transition: all .1s linear;
  /* Safari and Chrome */

  -o-transition: all .1s linear;
  /* Opera */

}
.login-wrapper .no-account a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #fff;
}
/* responsive */
@media (max-width: 767px) {
  .login-wrapper .box {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .login-wrapper .box {
    width: 90%;
  }
}
